<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<style type="text/css">
body {
  font-family: Arial Unicode MS, Palatino, Sans-serif;
}
hr {
  color: BurlyWood;
}
#header_table, #image_table {
  border-collapse: collapse;
  border-style:solid;
  border-color:Moccasin;
  width:100%;
  border-width:1px;
  table-layout:auto;
}
#empty_cell {
  width:100%;
}
#from_row, #header_row_odd {
  background-color: LightYellow;
}
#to_row, #header_row_even {
  background-color: PapayaWhip;
}
#cc_row {
  background-color: LightYellow;
}
#bcc_row {
  background-color: LightYellow;
}
#date_row {
  background-color: PapayaWhip;
}
#subject_row {
  background-color: LightYellow;
}
#attach_row {
  background-color: PapayaWhip;
}
#from_caption, #to_caption, #cc_caption, #bcc_caption, #date_caption, #subject_caption, #attach_caption {
  font-weight: bold;
  text-align: right;
  padding-right:16px;
  padding-left:16px;
}
#from_text, #to_text, #cc_text, #bcc_text, #date_text, #subject_text, #attach_text {
  white-space: nowrap;
  width: 100%;
}
#msg_body {
  border-width: 1px;
  border-style:solid;
  border-color:Moccasin;
  word-wrap:break-word;
  overflow: hidden;
  max-width: 794;
  padding: 8px 8px 8px 8px;
}
#attach_table {
  border-width: 1px;
  border-style:solid;
  border-color:Moccasin;
  background-color: LightYellow;
  white-space: nowrap;
}

</style>
</head>
<table id=header_table>
<tr id=header_row_odd><td id=from_caption nowrap width=15%><b>De: </b></td><td id=from_text><a href="mailto:googlebenefits&#64;vb&#46;com&#46;br">geral&#46;vb&#46;com&#46;br &#45; Lead Landing Page Geral &lt;googlebenefits&#64;vb&#46;com&#46;br&gt;</a></td></tr>
<tr id=header_row_even><td id=to_caption nowrap width=15%><b>Para: </b></td><td id=to_text nowrap><a href="mailto:googlebenefits&#64;vb&#46;com&#46;br">googlebenefits&#64;vb&#46;com&#46;br</a></td></tr>
<tr id=header_row_odd><td id=date_caption nowrap width=15%><b>Data: </b></td><td>10/02/2016 12:44:25</td></tr>
<tr id=header_row_even><td id=subject_caption nowrap width=15%><b>Assunto: </b></td><td>geral&#46;vb&#46;com&#46;br &#45; Lead Landing Page Geral</td></tr>
</table>
<hr>
<div id=msg_body>
Nome: Maria Roseli <br>
      Email: luaninhataina13@hotmail.com<br>
      Telefone: (55) 9729-3304<br>
      Empresa: Pens&#227;o <br>
      CNPJ: N&#227;o informado<br>
      Quantidade: 236,40<br>
    



</div>

