<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<style type="text/css">
body {
  font-family: Arial Unicode MS, Palatino, Sans-serif;
}
hr {
  color: BurlyWood;
}
#header_table, #image_table {
  border-collapse: collapse;
  border-style:solid;
  border-color:Moccasin;
  width:100%;
  border-width:1px;
  table-layout:auto;
}
#empty_cell {
  width:100%;
}
#from_row, #header_row_odd {
  background-color: LightYellow;
}
#to_row, #header_row_even {
  background-color: PapayaWhip;
}
#cc_row {
  background-color: LightYellow;
}
#bcc_row {
  background-color: LightYellow;
}
#date_row {
  background-color: PapayaWhip;
}
#subject_row {
  background-color: LightYellow;
}
#attach_row {
  background-color: PapayaWhip;
}
#from_caption, #to_caption, #cc_caption, #bcc_caption, #date_caption, #subject_caption, #attach_caption {
  font-weight: bold;
  text-align: right;
  padding-right:16px;
  padding-left:16px;
}
#from_text, #to_text, #cc_text, #bcc_text, #date_text, #subject_text, #attach_text {
  white-space: nowrap;
  width: 100%;
}
#msg_body {
  border-width: 1px;
  border-style:solid;
  border-color:Moccasin;
  word-wrap:break-word;
  overflow: hidden;
  max-width: 794;
  padding: 8px 8px 8px 8px;
}
#attach_table {
  border-width: 1px;
  border-style:solid;
  border-color:Moccasin;
  background-color: LightYellow;
  white-space: nowrap;
}

</style>
</head>
<table id=header_table>
<tr id=header_row_odd><td id=from_caption nowrap width=15%><b>De: </b></td><td id=from_text><a href="mailto:contato&#64;jotacom&#46;com">contato&#64;jotacom&#46;com &lt;contato&#64;jotacom&#46;com&gt;</a></td></tr>
<tr id=header_row_even><td id=to_caption nowrap width=15%><b>Para: </b></td><td id=to_text nowrap><a href="mailto:google&#64;vb&#46;com&#46;br">google&#64;vb&#46;com&#46;br</a></td></tr>
<tr id=header_row_odd><td id=date_caption nowrap width=15%><b>Data: </b></td><td>29/01/2016 15:28:04</td></tr>
<tr id=header_row_even><td id=subject_caption nowrap width=15%><b>Assunto: </b></td><td>Contato Facebook &#45; Aba Or&#231;amento</td></tr>
</table>
<hr>
<div id=msg_body>
nome                : Joyce de Sousa <br>
email               : procontt.gerencia@hotmail.com<br>
ddd                 : (11)<br>
telefone            : 4574-8213<br>
empresa             : Pr&#243;Contt Gerenciamento Empresarial<br>
no. de funcion&#225;rios : 03<br>
cnpj                : 18.954.744/0001-00<br>


</div>

